{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div style="margin-top: inherit" class="">
        {{ include('article/_form.html.twig',{'button_label':'update'}) }}
    </div>

{% endblock %}
