{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
   <div style="margin-top: inherit" class="">
       {{ include('article/_form.html.twig',{'button_label':'save'}) }}
   </div>
{% endblock %}
